{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        form { max-width: 400px; margin: auto; }
        input, select { width: 100%; padding: 10px; margin-top: 10px; }
        button { margin-top: 15px; padding: 10px; width: 100%; background: #28a745; color: white; border: none; }
    </style>
</head>
<body>

    <header>
        <div class="container">
            <div>
                <h1>Task Manager</h1>
                <p>Admin Panel</p>
            </div>
        </div>
    </header>
    
    <div class="container">
        <h2 style="text-align:center;">Add New User</h2>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add User</button>
        </form>
    </div>
</body>
</html>
